body {
    width: 80%;
    margin: 50px auto
}

.input-group {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    font-size: 16px;
}

p.card-text {
    font-size: 14px; 
}

p.card-author {
    color: blue;
    margin-bottom:0;
}

.card-title {
    color: black
}